body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #3E4452;
}

.circle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid #2B3421;
    animation: wave 0.8s forwards;
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #686FFD;
}

@keyframes wave {
    0% {
        width: 5px;
        height: 5px;
        opacity: 1;
    }
    90% {
        width: 50px;
        height: 50px;
        opacity: 0.5;
    }
    100% {
        width: 50px;
        height: 50px;
        opacity: 0;
    }
}